main {
    background-image: url("chasepeach.webp");
  background-repeat: no-repeat;
  background-size: cover;
  }
  h1 {
    font-size: 60px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  p {
    font-size: 35px;
  }
  body {
    color: rgb(0, 0, 0);
  }
  
  h1 {
    color: rgb(255, 0, 0);
  }
  a {
    background-color: #2d00f5; /* Green */
  }