
  main {
    background-image: url("Chaseeye.jpg");
    background-position: 500px,500px;
  
    background-size: 85%, 100%;
  }
  body {
    color: rgb(0, 0, 0);
  }
  
  h1 {
    color: rgb(255, 0, 0);
  }
  h1 {
    font-size: 60px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  p {
    font-size: 35px;
  }

