main {
    flex: 1;
    background-image: url("juniorbadchoice.jpg");
    background-size: cover;
    padding: 20px;
    background-size: 1500px;
    background-position: 500px 1200px ;
    background-size: 1300px;
    
  }
  a {
    background-color: #f80000; /* Green */
    border: none;
    color: rgb(255, 252, 83);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
h1 {
  font-size: 69px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 14px;
}
body {
  color: rgb(4, 209, 245);
}

h1 {
  color: rgb(224, 13, 13);
}