main {
    flex: 1;
    background-image: url("junioremptyfueltank.webp");
    background-size: cover;
    padding: 20px;
    background-size: 1500px;
    background-position: 500px 1200px ;
    background-size: 1300px;
    
  }