main {
    background-image: url("juniorkidunderbed.jpg");
    background-size : 2000px;
  background-repeat: no-repeat;
  }  
  a {
    background-color: #e90000; /* Green */
    border: none;
    color: rgb(255, 251, 5);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body {
  color: rgb(12, 207, 221);
}

h1 {
  color: rgb(240, 0, 0);
}
h1 {
  font-size: 69px;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 30px;
}


  