main {
    background-image: url("Leon\ 2.avif");
    background-repeat: no-repeat;
    background-size: 2600px;

  }
  h2, p {
    color: rgb(195, 12, 231);
}
h1 {
  font-size: 69px;
}

h2 {
  font-size: 49px;
  color:black;
}

p {
  font-size: 39px;
}