a {
    border-radius: 0px 15px 15px 15px;
    background-image: linear-gradient(to bottom right, maroon, orange);
}
h2, p {
    color: white;
    text-shadow: 2px 2px 5px red, 2px 2px 3px darkblue;
}