body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    background-color: #f0f0f0;
    padding: 20px;
  }

  main {
    flex: 1;
    background-image: url("hairless cat.avif");
    background-size: cover;
    padding: 20px;
  }

  footer {
    background-color: #f0f0f0;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  a {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}